<!DOCTYPE html>
<html>
<head>
    <title>Vue.js</title>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <span>{{numero1}}+{{numero2}} =</span>
        <input type="text" v-model="resultado" />
        </br>
        </br>
        <div v-if="numero1+numero2 == parseInt(resultado)">ACERTÔ MIZERÁVI</div>
        <div v-if="resultado != 0 && numero1+numero2 != parseInt(resultado)">ERROOOOOOOOOOOOOOOOOOOU!!!</div>
    </div>
    <script src="script.js"></script>
</body>
</html>
